.frame-82 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0vw;
  gap: 4.1666666667vw;
  position: absolute;
  width: 68.1944444444vw;
  height: 120.9722222222vw;
  left: 15.9027777778vw;
  top: 173.8888888889vw;
}