.ankle-r {
  position: absolute;
  height: 2.4305555556vw;
  width: 2.4305555556vw;
}

.knee-r {
  position: absolute;
  height: 2.4305555556vw;
  width: 2.4305555556vw;
}

.hip {
  position: absolute;
  height: 2.4305555556vw;
  width: 2.4305555556vw;
}

.shoulder {
  position: absolute;
  height: 2.4305555556vw;
  width: 2.4305555556vw;
}

.wrist {
  position: absolute;
  height: 2.4305555556vw;
  width: 2.4305555556vw;
}

.knee-l {
  position: absolute;
  height: 2.4305555556vw;
  width: 2.4305555556vw;
}

.ankle-l {
  position: absolute;
  height: 2.4305555556vw;
  width: 2.4305555556vw;
}