.frame-83 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 1.3888888889vw;
  position: absolute;
  width: 29.0277777778vw;
  height: 4.7222222222vw;
  left: 35.4861111111vw;
  top: 68.0555555556vw;
}
.frame-83 .text {
  width: 100%;
  height: 3.3333333333vw;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 3.3333333333vw;
  line-height: 3.3333333333vw;
  text-align: center;
  letter-spacing: 0.0277777778vw;
  color: #08785D;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.frame-83 .line {
  width: 13.8888888889vw;
  height: 0vw;
  border: 0.3472222222vw solid #70E4C0;
  background-color: #70E4C0;
  flex: none;
  order: 1;
  flex-grow: 0;
}